body { background-color: #263238; }

.nav-pills .nav-link.active {
	background-color:#BCD8E2;
}

/*#headerbg {
	background-color: #1E2A31;
	width: 1500px;
	height: 60px;
}

#headerfont {
	background-color: #215776;
	color: white;
	text-align: center;
	margin-left: 120px;
	line-height: 60px;
	font-size: 20px;
	width: 400px;
	height: 60px;
}

#lfmargin {
	margin-left: 100px;
}

#homebody {
	color: #A7A7A7;
	margin-left: 100px;
	font-style: bold;
	font-size: 40px;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100px;
	background: #172228;
	height: 100%;
	overflow: auto;
	position: fixed;
}

li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #BCD8E2;
	font-weight: bold;
}

li a:hover {
	background: #333;
	color: #fff;
}

li a.home {
  background : #333;
  color: #fff;
}*/